<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-detect-jailbreak" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>DetectJailbreak</name>
    <js-module name="DetectJailbreak" src="www/detectJailbreak.js">
        <clobbers target="DetectJailbreak" />
    </js-module>
    <platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="DetectJailbreak">
            <param name="ios-package" value="DetectJailbreak" />
        </feature>
    </config-file>
    <header-file src="src/ios/DetectJailbreak.h" />
    <source-file src="src/ios/DetectJailbreak.m" />
</platform>
</plugin>